.Book
{
    width: 24%;
    height: 20%;
    background-color: #fff;
    transition: 2s;
    margin: auto;
    display: inline-block;
}
.Book a
{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: blue;
    transition: 2s;

        

}
    
    background-color: white;
}
button
{
    width: 30%;
}

.Book a:hover
{
    color: #000;
    font-size: 50px;
    transition: 2s;
}
.con div
{
    display: inline-block;
}
.btn {
    border: 2px solid #170B3B;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 0px;
    float: inherit;
}
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #170B3B;
    color: white;
    border-color: #170B3B;
}
.F1
{
    margin-top: 10px;
    
}
.Ti
{
    font-size: 50px;
    color: #08298A;
    font-family: Berkshire Swash;
    font-style: italic;

}
* {box-sizing:border-box}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
