.General
{
    width: 60%;
    height: 2200px;
     font-family: 'Raleway', sans-serif;
}
.h1
{
    color: #43C0E1;
    padding-top: 30px;
}
.R
{
    float: left;
    max-width: 30%;
    height: 100%;
}
.R2
{
    margin-left: 35px;
}
.R3
{
    margin-left: 40px;
    margin-bottom: 20px;
}
.P:hover
{
 cursor: pointer;
color: #231F20;
transition: 1s;
}
